{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header">Car Park Maagement System</header>
            <p> Summary of all Activity! </p>
        </article>
    </div>
</section>